{
	"root": true,
	"env": {
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:node/recommended",
		"standard"
	],
	"plugins": [
		"standard"
	],
	"rules": {
		"semi": [
			2,
			"always"
		],
		"space-infix-ops": [
			"error",
			{
				"int32Hint": false
			}
		],
		"quotes": [
			"error",
			"double"
		],
		"indent": [
			"error",
			"tab"
		],
		"no-use-before-define": "error",
		"no-tabs": "off",
		"no-multiple-empty-lines": "error",
		"no-var": "error",
		"no-unused-vars": "error",
		"no-undef": "error",
		"no-template-curly-in-string": "off",
		"node/no-deprecated-api": "off",
		"camelcase": "off",
		"no-bitwise": "off",
		"no-case-declarations": "off",
		"no-new": "off",
		"new-cap": "off",
		"no-unmodified-loop-condition": "off",
		"no-loop-func": "off",
		"prefer-promise-reject-errors": "off",
		"node/no-unsupported-features/es-syntax": "off",
		"standard/no-callback-literal": "off",
		"space-before-function-paren": "off"
	}
}